USE [master]
GO
/****** Object:  Database [Film_Veritabani]    Script Date: 20.01.2021 20:25:22 ******/
CREATE DATABASE [Film_Veritabani]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Film_Veritabani', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Film_Veritabani.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Film_Veritabani_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Film_Veritabani_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Film_Veritabani].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Film_Veritabani]
GO
/****** Object:  Table [dbo].[Basrol_Oyuncular]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basrol_Oyuncular](
	[Oyuncu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](20) NOT NULL,
	[Soyad] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Oyuncu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film_Turler]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film_Turler](
	[Tur_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tur_Ad] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tur_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filmler]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmler](
	[Film_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](25) NOT NULL,
	[Tarih] [int] NOT NULL,
	[IMDB_Puan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Film_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yoneticiler]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoneticiler](
	[Yonetici_ID] [int] IDENTITY(1,1) NOT NULL,
	[Yonetmen] [varchar](20) NOT NULL,
	[Yapimci] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Yonetici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Basrol_Oyuncular] ON 

INSERT [dbo].[Basrol_Oyuncular] ([Oyuncu_ID], [Ad], [Soyad]) VALUES (1, N'Morgan', N'Freeman')
INSERT [dbo].[Basrol_Oyuncular] ([Oyuncu_ID], [Ad], [Soyad]) VALUES (2, N'Al', N'Pacino')
INSERT [dbo].[Basrol_Oyuncular] ([Oyuncu_ID], [Ad], [Soyad]) VALUES (3, N'Heath', N'Ledger')
SET IDENTITY_INSERT [dbo].[Basrol_Oyuncular] OFF
GO
SET IDENTITY_INSERT [dbo].[Film_Turler] ON 

INSERT [dbo].[Film_Turler] ([Tur_ID], [Tur_Ad]) VALUES (1, N'Drama')
INSERT [dbo].[Film_Turler] ([Tur_ID], [Tur_Ad]) VALUES (2, N'Suç')
INSERT [dbo].[Film_Turler] ([Tur_ID], [Tur_Ad]) VALUES (3, N'Aksiyon')
SET IDENTITY_INSERT [dbo].[Film_Turler] OFF
GO
SET IDENTITY_INSERT [dbo].[Filmler] ON 

INSERT [dbo].[Filmler] ([Film_ID], [Ad], [Tarih], [IMDB_Puan]) VALUES (1, N'Esaretin Bedeli', 1994, 9)
INSERT [dbo].[Filmler] ([Film_ID], [Ad], [Tarih], [IMDB_Puan]) VALUES (2, N'Baba', 1972, 9)
INSERT [dbo].[Filmler] ([Film_ID], [Ad], [Tarih], [IMDB_Puan]) VALUES (3, N'Kara Şovalye', 2008, 9)
SET IDENTITY_INSERT [dbo].[Filmler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yoneticiler] ON 

INSERT [dbo].[Yoneticiler] ([Yonetici_ID], [Yonetmen], [Yapimci]) VALUES (1, N'Frank Darabont', N'Niki Marvin')
INSERT [dbo].[Yoneticiler] ([Yonetici_ID], [Yonetmen], [Yapimci]) VALUES (2, N'Francis Ford Coppola', N'Francis Ford Coppola')
INSERT [dbo].[Yoneticiler] ([Yonetici_ID], [Yonetmen], [Yapimci]) VALUES (3, N'Cristopher Nolan', N'Cristopher Nolan')
SET IDENTITY_INSERT [dbo].[Yoneticiler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CNI_2]    Script Date: 20.01.2021 20:25:22 ******/
CREATE NONCLUSTERED INDEX [CNI_2] ON [dbo].[Basrol_Oyuncular]
(
	[Oyuncu_ID] ASC,
	[Ad] ASC,
	[Soyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CNI_1]    Script Date: 20.01.2021 20:25:22 ******/
CREATE NONCLUSTERED INDEX [CNI_1] ON [dbo].[Film_Turler]
(
	[Tur_ID] ASC,
	[Tur_Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CNI_1]    Script Date: 20.01.2021 20:25:22 ******/
CREATE NONCLUSTERED INDEX [CNI_1] ON [dbo].[Filmler]
(
	[Film_ID] ASC,
	[Ad] ASC,
	[Tarih] ASC,
	[IMDB_Puan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CNI_1]    Script Date: 20.01.2021 20:25:22 ******/
CREATE NONCLUSTERED INDEX [CNI_1] ON [dbo].[Yoneticiler]
(
	[Yonetici_ID] ASC,
	[Yonetmen] ASC,
	[Yapimci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Basrol_Oyuncular]  WITH CHECK ADD FOREIGN KEY([Oyuncu_ID])
REFERENCES [dbo].[Filmler] ([Film_ID])
GO
ALTER TABLE [dbo].[Film_Turler]  WITH CHECK ADD FOREIGN KEY([Tur_ID])
REFERENCES [dbo].[Filmler] ([Film_ID])
GO
ALTER TABLE [dbo].[Yoneticiler]  WITH CHECK ADD FOREIGN KEY([Yonetici_ID])
REFERENCES [dbo].[Filmler] ([Film_ID])
GO
/****** Object:  StoredProcedure [dbo].[sp_filmbutuntablo]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_filmbutuntablo]
as
SELECT F.Film_ID, F.Ad, FT.Tur_Ad, BO.Ad, BO.Soyad, Y.Yonetmen, Y.Yapimci FROM Filmler F INNER JOIN Basrol_Oyuncular BO 
ON F.Film_ID = BO.Oyuncu_ID INNER JOIN Yoneticiler Y 
ON F.Film_ID = Y.Yonetici_ID INNER JOIN Film_Turler FT 
ON F.Film_ID = FT.Tur_ID;
GO
/****** Object:  StoredProcedure [dbo].[sp_filmlerkayitekle]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_filmlerkayitekle]
(
@Ad varchar(25),
@Tarih int,
@IMDB_Puan int
)

as
begin

insert into Filmler (Ad,Tarih,IMDB_Puan)

values (@Ad,@Tarih,@IMDB_Puan)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_filmoyuncugetir]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_filmoyuncugetir]
as
SELECT F.*, BO.Ad, BO.Soyad FROM Filmler F INNER JOIN Basrol_Oyuncular BO
ON F.Film_ID = BO.Oyuncu_ID;
GO
/****** Object:  StoredProcedure [dbo].[sp_filmturgetir]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_filmturgetir]
as
SELECT F.*, FT.Tur_Ad FROM Filmler F INNER JOIN Film_Turler FT 
ON F.Film_ID = FT.Tur_ID;
GO
/****** Object:  StoredProcedure [dbo].[sp_filmturlerkayitekle]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_filmturlerkayitekle]
(
@Tur_Ad varchar(20)
)

AS
BEGIN

INSERT INTO Film_Turler(Tur_Ad)

VALUES (@Tur_Ad)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_filmyonetmengetir]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_filmyonetmengetir]
as
SELECT F.*, Y.Yonetmen, Y.Yapimci FROM Filmler F INNER JOIN Yoneticiler Y
ON F.Film_ID = Y.Yonetici_ID;
GO
/****** Object:  StoredProcedure [dbo].[sp_oyuncularkayitekle]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_oyuncularkayitekle]
(
@Ad varchar(20),
@Soyad varchar(30) 
)

AS
BEGIN

INSERT INTO Basrol_Oyuncular(Ad,Soyad)

VALUES (@Ad,@Soyad)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_yoneticilerkayitekle]    Script Date: 20.01.2021 20:25:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_yoneticilerkayitekle]
(
@Yonetmen varchar(20),
@Yapimci varchar(20) 
)

AS
BEGIN

INSERT INTO Yoneticiler(Yonetmen,Yapimci)

VALUES (@Yonetmen,@Yapimci)

END
GO
USE [master]
GO
